#links {
    display: flex;
    justify-content: space-around;
}

a:hover {
    color: red;
}

details:hover {
    cursor: pointer;
}

.portrait {
    width: 300px;
    height: auto;
    float: right;
}

.summary {
    gap: 10px;
    display: flex;;
}